.ingrads {
  background-image: url("../../public/imgs/paper1.png");
  background-size: cover;

  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-left: 2.3rem !important;
  rotate: -10deg;
  z-index: 20;
}

.ingrads ul li,
.meal-detail ul li {
  list-style: none;
}
.meal-detail h4 {
  font-size: 32px !important;
}

/* .img-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: transparent !important;
} */

.img-card {
  background-image: url("../../public/imgs/paper1.png");
  background-size: cover;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-left: 2.3rem !important;
  rotate: 10deg;
  z-index: 30;
}
.img-card img {
  width: 60%;
  border: 15px solid #ff5;
  border-radius: 20px;
  rotate: -30deg;
  position: absolute;
  top: -4rem;
  right: -5rem;
  z-index: 20;
}
.ingrads img {
  width: 50%;
  border: 15px solid #ff5;
  border-radius: 20px;
  rotate: -10deg;
  position: absolute;
  top: -3rem;
  right: -7rem;
  z-index: 20;
}

.text-h2 {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 10rem;
}

.instractions {
  overflow-y: auto;
  background-image: url("../../public/imgs/paper1.png");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  font-weight: 500;
  font-size: 1rem;
  rotate: 10deg;
  text-overflow: clip;
  z-index: 10;
}
/* .instractions div {
  color: white;
}

.instractions div h4 {
  color: #fff;
} */
.meal-detail {
  background-image: url("../../public/imgs/paper5.jpg");
  min-height: calc(100vh - 4.4rem);
  height: full !important;
  background-size: cover;
  padding: 5rem;
  background-repeat: repeat;

  overflow: hidden !important;
}
.instractions-box {
  max-height: 30vh !important;
  overflow-y: auto;
  font-size: 0.1rem !important;
}

@media screen and (max-width: 992px) {
  .meal-detail {
    background-image: none;
    background-color: #eee !important;
  }
  .details-container {
    flex-direction: column !important;
  }
  .preview-meal {
    width: 300px !important;
    padding: 15px !important;
  }
  .preview-meal img {
    width: 150px;
    top: -40px !important;
    left: -70px !important;
  }
  .ingrads {
    width: 300px !important;
    padding: 20px !important;
  }

  .ingrads img {
    display: none !important;
  }
  .instractions {
    background-image: url("../../public/imgs/paper1n.png") !important;
    rotate: 2deg !important;
    width: 300px !important;
    padding: 5px !important;
    padding-top: 25px !important;
  }
  .instractions-box {
    padding: 0px !important;
  }
}
