.x-btn {
  background-color: transparent !important;
  font-weight: 100 !important;
  color: #48301a !important;
  font-size: 1rem !important;
  border: none !important;
}
.popover-msg{
  z-index: 500000 !important;
}